{{ '{{- if .Values.gitCredentials.enabled }}' }}
{{ '{{- $existingSecret := lookup "v1" "Secret" .Release.Namespace "flux-git-credentials" }}' }}
{{ '{{- if not $existingSecret }}' }}
{{ '{{- if eq .Values.gitCredentials.type "https" }}' }}
apiVersion: v1
kind: Secret
metadata:
  name: flux-git-credentials
  namespace: {{ '{{ .Release.Namespace }}' }}
  annotations:
    helm.sh/resource-policy: keep
type: Opaque
stringData:
  username: {{ '{{ .Values.gitCredentials.username | quote }}' }}
  password: {{ '{{ .Values.gitCredentials.password | quote }}' }}
{{ '{{- else if eq .Values.gitCredentials.type "ssh" }}' }}
apiVersion: v1
kind: Secret
metadata:
  name: flux-git-credentials
  namespace: {{ '{{ .Release.Namespace }}' }}
  annotations:
    helm.sh/resource-policy: keep
type: Opaque
stringData:
  identity: {{ '{{ .Values.gitCredentials.identity | quote }}' }}
  identity.pub: {{ '{{ .Values.gitCredentials.identityPub | quote }}' }}
  known_hosts: {{ '{{ .Values.gitCredentials.knownHosts | quote }}' }}
{{ '{{- end }}' }}
{{ '{{- end }}' }}
{{ '{{- end }}' }}